<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
</head>

<body>

    <h1>Login</h1>
    <ul>
        <% if(messages.success_msg) {%>
            <li>
                <%= messages.success_msg %>
            </li>
            <% } %>
    </ul>
    <ul>
        <% if(messages.error) {%>
            <li>
                <%= messages.error %>
            </li>
            <% } %>
    </ul>

    <form action="/login" methode="POST">
        <div>
            <lable for="username">Username</lable>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <lable for="password">Password</lable>
            <input type="text" id="password" name="password" required>
        </div>
        <button type='submit'>Login</button>
    </form>
    <a href="/register">Register</a>

</body>

</html>